services:
  editor_service_api:
    build:
      context: .
      dockerfile: ./dockerfiles/editor_service_api.dockerfile
      target: dev
    environment:
      PORT: ${EDITOR_SERVICE_PORT}
      SERVICE_ROUTE: ${EDITOR_SERVICE_ROUTE}
      USER_SERVICE_API: 'http://user_service_api:9000/user-service'
      ROOM_SERVICE_API: 'http://room_service_api:9003/room-service'
      QUESTION_SERVICE_API: 'http://question_service_api:9001/question-service'
      REDIS_PORT: ${REDIS_PORT}
      REDIS_HOST: 'editor_service_redis'
    ports:
      - '${EDITOR_SERVICE_PORT}:9004'
    networks:
      - peerprep_network
    depends_on:
      - editor_service_redis
    restart: unless-stopped
    volumes:
      - ./node_modules:/editor_service_api/node_modules
      - ./src:/editor_service_api/src

  editor_service_redis:
    image: redis:7-bookworm
    ports:
      - '${REDIS_PORT}:${REDIS_DOCKER_PORT}'
    networks:
      - peerprep_network
    command: /bin/sh -c "redis-server --requirepass ${REDIS_PASSWORD}"
    restart: unless-stopped

networks:
  peerprep_network:
      external: true
      name: peerprep
